<div class="header row-wrapper">
	<div class="row">
		<ul class="left">
			<li><a href="">PERFECT BEAUTY</a></li>
		</ul>
		<ul class="right">
			<li><a id="notifications" href="#notifications">Notifications</a></li>
			<li><a href="#settings">Settings</a></li>
		</ul>
	</div>
</div>

<ul class="smartphone-display navbar" >
	 <li><a href="#">PERFECT BEAUTY</a>
		 <ul>
		    <li><a id="notifications" href="#notifications">Notifications</a></li>
		    <li><a href="#settings">Settings</a></li>
		 </ul>
	 </li>
	<li><a class="marketPlace" href="#">HOME</a>
		<ul class="left" style="padding-left: 0px;">
			<li><a class="marketPlace" href="#">PRODUCTS</a></li>
			<li><a class="marketPlace" href="#">BEAUTIES</a></li>
			<li><a class="marketPlace" href="#">PROFILE</a></li>
			<li><a class="marketPlace" href="#marketplace">MARKET</a></li>
		</ul>
	</li>
 </ul>